body {
  background-color: #5080ab;
  display: flex;
  font-family: monospace;
  font-size: 15px;
}

.wrapper {
  width: 100vw;
}

.rowWrapper {
  display: inline-block;
  float: right;
  margin-right: 200px;
  margin-top: 12.5px;

}

.row {
  display: flex;
}

.column {
  display: inline-flex;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.playerHit {
  background-color: red;
}

.unknownWater {
  background-color: blue;
}

.playerShip {
  background-color: grey;
}

.playerMiss {
  background-color: yellow;
}

.enemyMiss {
  background-color: orange;
}

.enemyHit {
  background-color: black;
}

.disableFire {
  cursor: none;
}

.battleList {
  cursor: pointer;
  list-style: none;
  color: white;
}

.leftPanelWrap {
 display: inline-block;
 margin-left: 50px;
 width: 500px;
 height: 600px;
 overflow: scroll;
 border: white dashed 1px;
 margin-top: 25px;
  ul {
    li {
      padding-left: 95px;
    }
  }
}
