body {
  background-color: papayawhip;
  display: flex;
  font-family: monospace;
  font-size: 15px;
}
.row {
  display: flex;
}

.column {
  display: inline-flex;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.playerHit {
  background-color: red;
}

.unknownWater {
  background-color: blue;
}

.playerShip {
  background-color: grey;
}

.playerMiss {
  background-color: yellow;
}

.enemyMiss {
  background-color: orange;
}

.enemyHit {
  background-color: black;
}
